body{
    background-image: linear-gradient(#54548C, #D59fb1);
    color:whitesmoke;
    font-family: "Ubuntu";
}

#name{
    display: block;
    color:white;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 195px;
}

p{
    width: 100%;
    margin: 0 auto 0 auto
}

div{
    width:100%;
}

#hobby{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 172px;
}

#list {
    display: block;
    color: #E2E7EA;
    margin-left: auto;
    margin-right: auto;
}

#sunset{
    display: block;
    width: 100%;
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.section {
    display: block;
    width: 60vw;
    margin: 0 auto 0 auto;
    padding:20px;
    color: #353979;
    margin-bottom: 2%;
    background-color: #D59fb1
}

#summary{
    background-color:#5C5C99;
    color: whitesmoke;
}

#Edu-History {
    color: #8C3126;
}
