body{
    background-image: linear-gradient(#54548C, #D59fb1)
}
#name{
    display: block;
    color:white;
    padding-left: 350px;
}
p{
    width: 100%;
    color:whitesmoke;
    margin: 0 auto 0 auto 
}
div{
    width:100%;
}
#hobby{
    color:whitesmoke;
    padding-left: 350px;
}
#list{
     display:block;
     color: #E2E7EA;
     padding-left: 350px;
}
#sunset{
    display: block;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.section {
    display: block;
    width:900px;
    margin: 0 auto 0 auto;
    background-color:#5C5C99;
    padding:20px;
}
.section{
    color: #353979;
    margin-bottom: 2%;
    background-color: #D59fb1
}

#summary{
    background-color:#5C5C99;
    color: whitesmoke;
}

    color: #8C3126;
    background-color:#D59fb1
}
